<!DOCTYPE html>
{% load static%}

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="" />
    <meta name="keywords" content="" />
	<title>EduSphere Fusion</title>
    <link rel="icon" href="{% static 'images/fav.png'%}" type="image/png" sizes="16x16"> 
    
    <link rel="stylesheet" href="{% static 'css/main.min.css'%}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">

</head>
<body>
<!--<div class="se-pre-con"></div>-->
<div class="theme-layout">
	<div class="container-fluid pdng0">
		<div class="row merged">
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="land-featurearea">
					<div class="land-meta">
						<h1>EduSphere Fusion</h1>
						<p>
							Your Path to Success Begins Here..
						</p>
						<div class="friend-logo">
							<span><img src="{% static 'images/wink.png'%}" alt=""></span>
						</div>
						<a href="https://www.linkedin.com/in/edusphere-fusion-384444227/" title="" class="folow-me">Follow Us on</a>
					</div>	
				</div>
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<div class="login-reg-bg">
					<div class="log-reg-area sign">
						<h2 class="log-title">Login</h2>
						<form method="post">
							{% csrf_token %}
							<div class="form-group">	
								<input type="text" id="input" name="usename" required="required"/>
								<label class="control-label" for="input">Username</label><i class="mtrl-select"></i>
							</div>
							<div class="form-group">
								<input type="password" name="passname" required="required"/>
								<label class="control-label" for="input">Password</label><i class="mtrl-select"></i>
							</div>
							{% if error_message %}
								<p class="error-message">{{ error_message }}</p>
							{% endif %}
							<a href="{% url 'password_reset' %}" title="" class="forgot-pwd">Forgot Password?</a>								
							<a href="{% url 'register_normal_user' %}" >Register as a user</a>
							<div>
							<a href="{% url 'register_college_user' %}">Register as a college</a>
							{% load socialaccount %}
							<a href="{% provider_login_url 'google' %}?next=home" class="forgot-pwd">Login with Google</a>
							</div>
							
							<div class="submit-btns">
								<button class="mtr-btn" type="submit"><span>Login</span></button>
								
							</div>
						</form>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	
	<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script src="{%static 'js/main.min.js' %}"></script>
	<script src= "{% static 'js/script.js' %}"></script>

</body>	

</html>